{% extends 'base.html' %}
{% block content %}
<!-- MAIN FORUM START -->
<!-- FORUM MAIN HOT START -->

<main>
    <div class="main-container">
        <h2 id="hot-bg">HOT</h2>
        <table id="table-bg" style="width:100%">
            <tr>
              <th class="h4">Forum</th>
              <th class="h4">Topics</th> 
              <th class="h4">Posts</th>
              <th class="h4">Last Posts</th>
            </tr>

      <!-- TABLE CONTENT START -->

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

            <tr>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
              <td>
                <div class="h5">8</div>
              </td>
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>

    <!-- TABLE CONTENT END -->

            
          </table>
    </div>
</main>
<!-- FORUM MAIN HOT END -->

<!-- FORUM MAIN MEME START -->
<main>
  <div class="main-container">
      <h2 id="hot-bg">MEME</h2>
      <table id="table-bg" style="width:100%">
          <tr>
            <th class="h4">Forum</th>
            <th class="h4">Topics</th> 
            <th class="h4">Posts</th>
            <th class="h4">Last Posts</th>
          </tr>

    <!-- TABLE CONTENT START -->

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>



  <!-- TABLE CONTENT END -->

          
        </table>
  </div>
</main>
<!-- FORUM MAIN MEME END -->

<!-- FORUM MAIN MEME START -->
<main>
  <div class="main-container">
      <h2 id="hot-bg">MOVIES</h2>
      <table id="table-bg" style="width:100%">
          <tr>
            <th class="h4">Forum</th>
            <th class="h4">Topics</th> 
            <th class="h4">Posts</th>
            <th class="h4">Last Posts</th>
          </tr>

    <!-- TABLE CONTENT START -->

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>

          <tr>
            <td>
              <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
            <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
              adipisicing elit. Velit, praesentium?</h4>
            </td>
            <td>
              <div class="h5">8</div>
            </td>
            <td class="h5">
              30
            </td>
            <td>
              <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                  <div class="h5"> 11 Nov 2019, 16:11</div>
            </td>
          </tr>



  <!-- TABLE CONTENT END -->

          
        </table>
  </div>
</main>
<!-- FORUM MAIN MEME END -->
<!-- FORUM MAIN END -->

{% endblock  %}