{% extends 'base.html' %}

{% block content %}

<!-- MAIN FORUM START -->
<!-- FORUM MAIN HOT START -->

<main>
    <div class="main-container">

        <table id="table-bg" style="width:100%">
            <tr>
              <th class="h4">Status</th>
              <th class="h4">Topics</th> 
              <th class="h4">Replies/Views</th>
              <th class="h4">Last Reply</th>
            </tr>

      <!-- TABLE CONTENT START -->

      <tr>
        <td>
            <div class="h5"><i class="fa-solid fa-fire fa-2xl" style="color: #ffffff;"></i></div>
          </td>
      <td>
        <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
      <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Velit, praesentium?</h4>
      </td>

      <td class="h5">
        30
      </td>
      <td>
        <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
            <div class="h5"> 11 Nov 2019, 16:11</div>
      </td>
    </tr>



    <tr>
        <td>
            <div class="h5"><i class="fa-solid fa-poop fa-2xl" style="color: #ffffff;"></i></div>
          </td>
      <td>
        <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
      <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Velit, praesentium?</h4>
      </td>

      <td class="h5">
        30
      </td>
      <td>
        <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
            <div class="h5"> 11 Nov 2019, 16:11</div>
      </td>
    </tr>



    <tr>
        <td>
            <div class="h5"><i class="fa-solid fa-rocket fa-2xl" style="color: #ffffff;"></i></div>
          </td>
      <td>
        <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
      <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Velit, praesentium?</h4>
      </td>

      <td class="h5">
        30
      </td>
      <td>
        <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
            <div class="h5"> 11 Nov 2019, 16:11</div>
      </td>
    </tr>



    <tr>
        <td>
            <div class="h5"><i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i></div>
          </td>
      <td>
        <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
      <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Velit, praesentium?</h4>
      </td>

      <td class="h5">
        30
      </td>
      <td>
        <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
            <div class="h5"> 11 Nov 2019, 16:11</div>
      </td>
    </tr>



    <tr>
        <td>
            <div class="h5"><i class="fa-solid fa-book fa-2xl" style="color: #ffffff;"></i></div>
          </td>
      <td>
        <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
      <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Velit, praesentium?</h4>
      </td>

      <td class="h5">
        30
      </td>
      <td>
        <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
            <div class="h5"> 11 Nov 2019, 16:11</div>
      </td>
    </tr>



            <tr>
                <td>
                    <div class="h5"><i class="fa-solid fa-fire fa-2xl" style="color: #ffffff;"></i></div>
                  </td>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
 
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>



            <tr>
                <td>
                    <div class="h5"><i class="fa-solid fa-poop fa-2xl" style="color: #ffffff;"></i></div>
                  </td>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
 
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>



            <tr>
                <td>
                    <div class="h5"><i class="fa-solid fa-rocket fa-2xl" style="color: #ffffff;"></i></div>
                  </td>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
 
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>



            <tr>
                <td>
                    <div class="h5"><i class="fa-solid fa-lock fa-2xl" style="color: #ffffff;"></i></div>
                  </td>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
 
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>



            <tr>
                <td>
                    <div class="h5"><i class="fa-solid fa-book fa-2xl" style="color: #ffffff;"></i></div>
                  </td>
              <td>
                <h3 class="h4 mb-0"><a href="#">Forum Name</a></h3>
              <h4 class="mb-0">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Velit, praesentium?</h4>
              </td>
 
              <td class="h5">
                30
              </td>
              <td>
                <h4 class="h5 mb-0"><a href="#"> Post Name</a></h4>
                    <div class="h5"> 11 Nov 2019, 16:11</div>
              </td>
            </tr>




           

    <!-- TABLE CONTENT END -->

            
          </table>

    <!--Pagination starts-->
                <div class="pagination">
                    pages: <a href="">1</a><a href="">2</a><a href="">3</a>
                </div>
    <!--pagination ends-->

          
    </div>
</main>
<!-- FORUM MAIN HOT END -->


{% endblock content %}


<!-- FORUM MAIN END -->


<div style="padding: 1rem;
font-size: x-large;
background-color: rgba(205, 56, 180, 0.85);
opacity: 0.85;
border: solid white 5px;
margin-top: 2rem;" class="note">
    <span><i class="fa fa-poop "></i>&nbsp; 0 Engagement Topic</span>&nbsp;&nbsp;&nbsp;<a href=""><i class="fa fa-share-square"></i></a><br>
    <span><i class="fa fa-book"></i>&nbsp; Low Engagement Topic</span>&nbsp;&nbsp;&nbsp;<a href=""><i class="fa fa-share-square"></i></a><br>
    <span><i class="fa fa-fire"></i>&nbsp; Popular Topic</span>&nbsp;&nbsp;&nbsp;<a href=""><i class="fa fa-share-square"></i></a><br>
    <span><i class="fa fa-rocket"></i>&nbsp; High Engagement Topic</span>&nbsp;&nbsp;&nbsp;<a href=""><i class="fa fa-share-square"></i></a><br>
    <span><i class="fa fa-lock"></i>&nbsp; Closed Topic</span>&nbsp;&nbsp;&nbsp;<a href=""><i class="fa fa-share-square"></i></a><br>
</div>


  <!-- MAIN -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>
</html>