* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    

}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}
#login-body{
    background-image: url("../img/starwars.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

#register-body{
    background-image: url("../img/nyancat.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

#index-body, #question-body{
    background-image: url("../img/bladerunner.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Index Page Start */

/* NAVBAR START */
#navbar-bg{
    background-color: rgba(205, 56, 180, 0.85);
    border: 5px solid white;
    opacity: 0.85;
    padding: 1rem;
    z-index: 10;
}

#navbar-toggler{
    border: solid black 3px;
}

#search-btn-id{
    border-color: black;
    --bs-btn-hover-bg: #198fbf;
}
  
  #navbar-hover li a:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: 0,5s;
  }

  #navbar-dropown-hover ul li a:hover{
    background-color: rgba(205, 56, 180, 0.85);
    color: white;
  }
  

/* NAVBAR END */

/* MAIN START */

main{
    display: flex;
    justify-content: center;
}

.main-container{
    width: 80%;
}

#hot-bg{

    background-color: #198fbf;
    margin-top: 2rem;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    padding: 1.5rem;
    
}


#table-bg {
    background-color: black;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    border-collapse: collapse;
    margin-top: 2rem;

}

th,td{
    color: white;
    border: 1px solid white;
    padding: 1rem;
    
} 

/* MAIN END */

/* FORUM INFO START */

#forum-info-id{
    padding: 1rem;
    font-size: larger;
    background-color: rgba(205, 56, 180, 0.85);
    opacity: 0.85;
    border: solid white 5px;
    margin-top: 2rem;
}
/* FORUM INFO END */

/* Index Page End */

/* LOGIN PAGE START */

#login-bg{

    border-radius: 0px;
    border: white solid 10px;
}

/* LOGIN PAGE END */

/* REGISTER PAGE START */

#register-bg{

    border: white solid 10px;
    border-radius: 0px;
}

/* REGISTER PAGE END */

/* QUESTION PAGE START */

    #question-h1{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 70px;
        margin-top: 1rem;
        border: 1rem solid white;
        padding: 1rem;
        width: 70%;
    }

    #question-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #question-title-input{
        width: 30%;
        opacity: 0.85;
        font-size: xx-large;
        padding: 0.5rem;

    }

    #question-toggle-categories{
        font-size: xx-large;
        border-radius: 0px;
        margin: 1rem;
        background-color: orchid;
        opacity: 0.85;
        border: 3px solid white;
    }

    #tag-title-input{
        width: 20%;
        opacity: 0.85;
        font-size: xx-large;
        padding: 0.5rem;

    }

    #question-submit-btn{
        font-size: xx-large;
        margin-left: 1rem;
        padding: 0.5rem;
        background-color: hotpink;
        border: 5px solid white;
        color: black;
    }

    #question-submit-btn:hover {
        background-color: skyblue;
      }

    


/* QUESTION PAGE END */

/* POST PAGE START */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    display: flex;
    background-color: #198fbf;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
    background-color: black;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    border-collapse: collapse;
    margin-top: 3px;
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
   
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* POST PAGE END */

/* COMMENT PAGE START */

main{
    display: flex;
    justify-content: center;
}



.navigate {
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
}

.navigate span a:hover {
  color: rgba(250, 0, 196, 0.8);
  transition: 0,5s;
}

.navigate span a {
    color: white;
}

.head{
    display: flex;
    background-color: #198fbf;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.authors{
    color: white;
    flex: 20%;
}

.content{
    color: white;
    flex: 80%;
}

.body{
    display: flex;
    background-color: black;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    border-collapse: collapse;
    margin-top: 3px;
    padding: 1rem;
    font-size: 1.2rem;
    
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    border-radius: 50px;
    max-width: 80px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

/* COMMENT PAGE END */