
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;

}

body{
    overflow-x: hidden;
}

#login-body, #register-body{
    background-image: url("../img/nyancat.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#index-body{
    background-image: url("../img/bladerunner.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Index Page Start */

/* #navbar-bg{
    background-color: rgba(205, 56, 180, 0.85);
    border: 5px solid white;

} */



#hot-bg{
    background-color: #198fbf;
    margin-top: 2rem;
    opacity: 0.85;
    color: white;
    border: 5px solid white;
    
}

#table-bg{
    margin-top: 2rem;
    background-color: black;
    opacity: 0.85;
    color: white !important;
    border: 5px solid white;
}

/* Index Page End */

/* REGISTER PAGE START */

#register-bg{

    border: white solid 10px;
    border-radius: 0px;
}

/* REGISTER PAGE END */

/* LOGIN PAGE START */

#login-bg{

    border-radius: 0px;
    border: white solid 10px;
}

/* LOGIN PAGE END */